.splitter {
  display: grid;
  gap: 1.25rem;
  background-color: $white;
  padding: 0.95rem 1.95rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  &__img {
    display: block;
    margin: 3.5rem auto 2rem;
  }

  &__form {
    margin-block-end: 1.25rem;
    position: relative;

    &-label {
      color: $very-dark-cyan;
      display: block;
      margin-block-end: 0.5rem;
    }

    &-img {
      position: absolute;
      top: 60%;
      margin-inline-start: 0.75rem;
    }
  }

  &__tip {
    &-label {
      color: $dark-grayish-cyan;
      font-size: 0.95rem;
      margin-block-end: 0.95rem;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0.75rem;
    margin-block-end: 1.95rem;
  }

  &__button {
    border: none;
    outline: none;
    padding: 0.5rem;
    background-color: $very-dark-cyan;
    color: $white;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition:
      background-color 0.2s,
      color 0.3s;

    &:hover {
      background-color: $strong-cyan;
      color: $very-dark-cyan;
    }
  }

  &__person {
    position: relative;

    &-label {
      display: inline-block;
      color: $dark-grayish-cyan;
      font-size: 0.95rem;
      margin-block-end: 0.5rem;
    }

    &-img {
      position: absolute;
      top: 60%;
      margin-inline-start: 0.75rem;
    }

    &-error {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-text {
      color: hsl(9, 100%, 64%);
    }
  }

  &__result {
    background-color: $very-dark-cyan;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 1.75rem 1.25rem;

    &-data {
      display: grid;
      gap: 1.125rem;
      margin-block-end: 0.95rem;
    }

    &-amount,
    &-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $light-grayish-cyan;

      span {
        color: $grayish-cyan;
      }
    }

    &-value {
      display: flex;
      align-items: center;
      gap: 0.1rem;
      font-size: 1.75rem;
      color: $strong-cyan;
    }
  }

  &__reset {
    width: 100%;
    border: none;
    outline: none;
    background-color: $strong-cyan;
    color: $very-dark-cyan;
    opacity: 0.4;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}
